tmux-*.log
Server_Cloud/node_modules/**
Server_Cloud/package-lock.json
Server_Cloud/package.json
Server_Box/__pycache__/local.cpython-39.pyc
Server_Camera/__pycache__/local.cpython-37.pyc
Server_Camera/node_modules/**
Server_Camera/tmp.jpg
Server_Camera/package-lock.json
Server_Box/package-lock.json
Server_Box/package.json
Server_Box/node_modules
Server_Box/.vscode
Server_Camera/package.json
