[Unit]
Description=RPI Cloud TV
After=network.target

[Service]
WorkingDirectory=/home/nico/workspace/GreenHomeLan_RpiCloud
ExecStart=node server_tv/server.js
Restart=always

[Install]
WantedBy=multi-user.target
