body{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    background-color: black;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
iframe{
    height: 384px;
    width: 512px;
    resize: none;
    overflow: hidden;
    border-width: 5px;
    flex-grow:1;
    border-color: white;
    
}
.column {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 0px;
    /*border: 1px solid white;*/
} 
.column-center{
    margin-top: 0px;
}
.row-battery{
    margin-left: 10px;
} 
.row{
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
} 
.row-use-situations-top{
    margin-top: 20px;
}
.column-icon{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size:2.2em;
}
.column-icon-battery{
    margin: 0px;
    font-size:1.8em;
}
.column-icon-alert{
    color: yellow;
}
.column-icon-alert-power{
    color: red;
}
.column-icon-video{
    color: orangered;
}
.my-button-use-situation{
    border: none;
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.my-icon-use-situation{
    font-size: 4em;
    color: white;
}
.select-down {
    margin-top: 25px;
    font-size: 16px;
}
.wifi-info {
    font-size:1.8em;
    color: white;
    margin: 5px;
}
.relay-info {
    font-size:1em;
    color: white;
    margin: 2px;
}
.alimelo-info-header {
    font-size:2em;
    color: orangered;
    margin: 15px;
    margin-bottom: 28px;
    text-align: center;
}
.alimelo-info-key {
    font-size:1.2em;
    color: white;
    margin: 8px;
    margin-left: 20px;
}
.alimelo-info-value {
    font-size:1em;
    color: orangered;
    margin: 2px;
    margin-top: 10px;
}
.spinner {
    font-size:1.8em;
    color: orangered;
    margin: 5px;
}
.wifi-band-info {
    font-size:1.8em;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 2px;   
}
#overlapped_wifi {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

#overlapped_alimelo {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}
#overlapped_objects {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}
/*Switchs style*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: green;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.objects-info-header {
    font-size:2em;
    color: rgb(216, 170, 19);
    margin: 15px;
    margin-bottom: 28px;
    text-align: center;
}
.objects-info-value {
    font-size:2.2em;
    color: rgb(216, 170, 19);
    margin: 2px;
    margin-top: 10px;
}
.objects-info-key {
    font-size:2em;
    color: white;
    margin: 8px;
    margin-left: 20px;
}
  /*Info container*/
.wifi-container {
    display: flex;
    flex-direction: column;    
    visibility: hidden;
}
.alimelo-container {
    display: flex;
    flex-direction: column;    
    visibility: hidden;
}
.objects-container {
    display: flex;
    flex-direction: column;    
    visibility: hidden;
}