body{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    background-color: black;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
iframe{
    height: 384px;
    width: 512px;
    resize: none;
    overflow: hidden;
    border-width: 5px;
    flex-grow:1;
    border-color: white;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    
}
.column {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 0px;
} 
.row-top{
    margin-top: 50px;
    margin-bottom: 200px;
}
.row-use-situations{
    margin-top: 450px;
    margin-left: 150px;
}
.column-icon{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size:6em;
}
.column-icon-alert{
    color: yellow;
}
.column-icon-video{
    color: orangered;
}
.my-button-use-situation{
    border: none;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.my-button-stream {
    background-color: #eb6f06; 
    color: white;
    padding: 15px 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
}
.my-icon-use-situation{
    font-size: 10em;
    color: white;
}
.select-down {
    margin-top: 25px;
    font-size: 16px;
}